body{

}

.boardBody{
  padding: 15px;
  font-size: 18px;
  min-height: 200px;
}

.commentBody{
  font-size: 16px;
}

.writeHr{
  border-top: 1px solid #bbb;
}

.btnBoardWrite{
  text-align: right;
  margin-top: 20px;
}

.comment{
  height: 110px;
}
.commentWriteBtn > input{
  width: 100%;
  margin-top: 34px;
  height: 74px;
}

.list-num{
  color: #767676;
  text-align: center;
  width: 90px;
}

.list-head{
  font-weight: bold;
}

.list-write{
  width: 120px;
  font-weight: bold;
  
}

#boardList > thead{
  text-align: center;
}

.readNav{
  text-align: right;
}

.dataCmtContent{
  width: 100%;
}

.writeHead{
  text-align: right;
  line-height: 30px;
}